

.mygallerylist{
    position: relative;
    top:10px;
    /*border-right:4px outset blue;*/
    /*border-top:4px outset blue;*/
    /*border-left:4px outset blue;*/
    /*border-bottom:4px outset blue;*/
    /*border: medium solid #555555;*/
    /*border:1px;*/
    left:12px;
    right:12px;
    float: left;
    width:1200px;
}
div .result_img
{
    position: absolute;
    top:10px;
    left:1500px;

    border:1px solid #bebebe;
    height:auto;
    background-color: cornflowerblue;

    width:260px;
    /*margin-bottom: 15px;*/
    /*margin-right: 10px;*/
    float:left;
    margin:10px 5px;
    text-align:center;
}
div .result_img img
{
    display:inline;
    margin:2px;
    border:1px solid #bebebe;
}

div .result_img img:link{
    border:1px solid #eeeeee;

}
div .result_img img:visited
{
    border:1px solid #eebebe;
}
div .result_img img:hover
{
    transition: all 0.3s;
    border:1px solid red;
    cursor: pointer;
    transform: scale(1.2);
    /*border-color: red;*/
}
div .desc
{
    text-align:center;
    font-weight:normal;
    font-size:15px;
    width:250px;
    height:24px;
    background-color: transparent;
    color: #000;
    margin:5px 3px 5px 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchPageTitle{
    position: fixed;
    top:60px;
    left:20px;
}

