@charset "utf-8";


html {
    margin: 0 auto;
    background: url(../images/background/0336.jpg) fixed #ffffff;

    /*background: white;*/
    background-size: cover;
    width:100%;

}
img{
    vertical-align:middle;

}
em{
    font-style:normal;
}
a img, :link img, :visited img{
    border:0;
}

ul, ul li{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
#top_bg{
    height:55px;
    width:100%;
    opacity: 0.9;
    background:#3b3b3b;
    position:fixed;
    top:0;
    z-index:3;

    /*left:0;*/
}

.logo_area{
    position: fixed;
    top:0;

    width:200px;

    height:55px;
    /*position: fixed;*/
    left:50px;
    float:left;

    margin:0 auto;
}

.search_menu{
    position: fixed;
    /*width:150px;*/

    height:55px;
    /*position: fixed;*/
    left:130px;
    top:10px;
    float:left;

    margin:0 auto;
}
.logo_img{
    position: fixed;
    top:0;

    left:50px;
    width:200px;
    height:55px;

    float:left;

}

.top_menu {
    /*width: 500px;*/
    height:55px;
    position: fixed;
    top:0;

    left:300px;
    text-align: center;
    /*margin: 0 auto;*/
    background: #3b3b3b;
    color: #f0f0f0;
}
.top_menu a {
    display: block;
    padding: 5px 15px;
    line-height: inherit;
    cursor: pointer;
}
.primary_menu {
    line-height: 45px;
    font-weight: bold;
}
.primary_menu a{

    font-size: 18px;
    color: #bebebe;
}
.primary_menu a:hover{
    color: beige;
}
.menu_item {
    display: inline-block;
    width:120px;
    position: relative;
}
.menu_item:hover {
    background-color: #555555;
    opacity: 1;
}
.menu_item:hover .sub_menu {
    display: block;
}
.sub_menu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 120px;
    background-color: #555555;
}
.sub_menu_item:hover {
    background: rgba(0, 0, 0, 0.1);

}




#top_login{
    position: absolute;
    font-size:15px;
    /*left:1150px;*/
    right:150px;

    top:20px;
    height: 55px;
    float: right;
}
#top_login_success{
    position: fixed;
    font-size:20px;
    top:18px;
    background-color: #555555;
    /*left:1050px;*/
    right:200px;
    text-align: center;

}
.show_user{
    color:#ffffff;
    /*width:80px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

#top_login_success a{
    /*font-size: 18px;*/
    /*font-style: inherit;*/
    /*float:right;*/
    /*color:skyblue;*/
}
#loginout input{
    font-size: 18px;
    font-style: inherit;
    color:#bebebe;
    position: fixed;
    /*left:1130px;*/
    right:150px;
    top:20px;
    background:transparent;
    border:none;
}
#loginout input:hover{
    color: gainsboro;
    cursor: pointer;
}

#user_menu_item a:hover{
    font-size: 18px;
    font-style: inherit;
    color:#555555;
}
#user_sub_menu a:hover{
    font-size: 12px;
    font-style: inherit;
    color:#16181b;
}


#top_login #show_user{
    color:#f0f0f0;

}

#top_login a:hover{
    color: #FFFFFF;
}
#top_login a{
    color: #f0f0f0;
    font-size:14px;
}






.index_img_title_right a:hover{
    color: #FFFFFF;
}
.index_img_title h2{
    height: 60px;
    margin-bottom: 10px;
    padding: 2px 5px 5px 5px;
    background: #707070;
    border: 1px solid #707070;
    /*letter-spacing: -.5px;*/
    color: #FFFFFF;
}

