
body{
    background-color: #bebebe;
}
.selected_img{
    position: absolute;
    top:120px;
    left:150px;
    overflow-x: auto;
    background-color: beige;
    height:460px;
    background-image:url(../images/icons/selected_img_background.png);

    width: 990px;
    transition: height 1.5s;

    border-radius:25px;
    -moz-transition:height 1.3s; /* Firefox 4 */
    -webkit-transition:height 1.3s; /* Safari and Chrome */
    -o-transition:height 1.3s; /* Opera */

    box-shadow: 10px 10px 5px #888888;
}
.selected_img:hover{
    /*transition: all 1.4s;*/
    /*transform: scale(1.2);*/
    /*height:440px;*/
    cursor: crosshair;
}


.selected_img .img-div{
    position: relative;
    /*left:240px;*/
    padding: 5px 10px 5px 10px;
    /*top:180px;*/
    float:left;
    /*width:800px;*/
    overflow: hidden;
    text-align: center;
}
.image{
    width: 300px;
    height: 200px;
}
.choose_img{
    position: absolute;
    top:160px;
    text-align: center;
    /*left:100px;*/
    /*width:900px;*/
}


.choose_img input{
    opacity: 0;
    margin:0;
    padding:0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 128px;
    width: 128px;
}
.choose_img input:hover{
    cursor: pointer;
}



.choose_img .img_button{
    width: 128px;
    height: 128px;
    background-image: url(../images/icons/add_pic.png);
    /*background-color: #555555;*/
}



h2{
    color:darkblue;
    text-align: center;
}

.cancelupload{
    position: absolute;
    top:8px;

    left:50px;
}
.cancelupload a{
    text-decoration: none;
}
.cancelupload a:hover{
    cursor: pointer;
}

.sureupload{
    position: absolute;
    top:140px;
    /*background-color: #555555;*/

    /*height:50px;*/
    font-size: 20px;
    /*width:200px;*/
    left:1160px;
}
.sureupload input{
    position: absolute;
    /*top:140px;*/
    opacity: 0;
    height:80px;
    font-size: 20px;
    width:80px;
    /*right:50px;*/
}

.sureupload input:hover{
    cursor: pointer;

}


.suretopub{
    position: absolute;
    top:250px;
    /*background-color: #555555;*/

    /*height:50px;*/
    font-size: 20px;
    /*width:200px;*/
    left:1160px;

}
.suretopub input{
    position: absolute;
    /*top:140px;*/
    opacity: 0;
    height:100px;
    font-size: 20px;
    width:100px;
    /*right:50px;*/
}

.suretopub input:hover{
    cursor: pointer;

}

.img_upload img{
    width:100px;
    height:100px;
}
/*.cancelupload input,.sureupload input{*/
/*background-color: #555555;*/

/*height:50px;*/
/*font-size: 20px;*/
/*width:200px;*/
/*}*/

