body{
    font-family:sans-serif;
    line-height:25px;
    text-align: center;
    background-attachment: fixed;
    background-image: url(../images/background/0336.jpg);
    background-repeat:no-repeat;
    overflow-x:hidden;

}

*{
    margin: 0;
    padding: 0;
}


.main{
    width: 90%;
    height: 90%;
    position: absolute;
    right: 5%;
    left: 5%;
    top: 5%;
    bottom: 5%;
    border-radius:25px;
    /*background-color:silver;*/

}

.areas{
    float: left;

}
.a{
    width: 20%;
    height: 100%;
    /*background-color: #555555;*/
    background-image: url("../images/snow.jpg");
    border-radius:25px;

}
.b{
    width: 80%;
    height: 100%;
    /*background-color: blueviolet;*/
    background-image: url("../images/hill.jpg");
    border-radius:25px;

}
.aa{
    width: 100%;
    height: 10%;


}
.ab{
    position: relative;
    padding-top: 15px;
    width: auto;
    height: 80%;
    background-color: white;
    margin: 15px;
    border-radius:25px;

}


.leftdiv{
    margin-top:50px;
}
.on{
    background-color: silver;
    width:100%;
    height:auto;
    border: none;
    font-size: larger;
    line-height: 1.5;
}
.off{
    background: transparent;
    width:100%;
    height:auto;
    border: none;
    font-size: larger;
    line-height: 1.5;
}


.topul{
    list-style-type:none;
    position: absolute;
    right: 2%;
}
.topli{
    list-style-type:none;
    float:left;
    margin-top: 30px;
    margin-left: 20px;
}
.topli a:hover{
    color:red;
}

img{
    margin-top: 30px;
    vertical-align:middle;
    border:0;

}

.textpad{
    padding-right:10px;
    text-align: justify;
    text-align-last: justify;
}

table{
    /*margin-left:auto;*/
    /*margin-right: auto;*/
    margin-top:40px;
}



.in{
    width: 250px;
}
.intime{
    width:80px;
    height: 18px;

}

.sex{
    margin-left: 35px;
    margin-right: 5px;
}

.intro{
    width: 500px;
    height: 150px;
    text-align: left;
    resize: none;
}

.alterbut{
    position: absolute;
    right: 15px;
    background: transparent;
    border: none;
    line-height: 1.5;
}

.alteraccount{
    position: absolute;
    left: 15px;
}

.leftposi{
    text-align: left;
}
.margintop{
    margin-top: 20px;
}

.h{
    height:1px;border:none;border-top:1px solid silver;
}

.warn{
    color: darkred;
}

.hide{display:none;}


.headarea{
    width: 400px;
    height: 250px;
    background-color: white;
    display: none;
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    margin:auto;
    z-Index:3;

}


.hidebg {
    position:absolute;left:0px;top:0px;
    background-color:#000;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display: none;
    z-Index:2;
}

.test{
    z-Index:1;
    border-radius:25px;

}

.arrow{
    position: absolute;
    right: 0px;
    margin-top: 0px;
    padding: 5px;
}

.changeheadtop{
    background-color: silver;
    padding: 5px;
}