
#title{
    margin-top: auto;
    width:1000px;
    position: absolute;
    top:80px;
    left:120px;
    font-size: 20px;
    color:black;
}



#text_about{
    margin-top: auto;
    width:1000px;
    border-left:2px outset deepskyblue;
    position: absolute;
    top:120px;
    left:150px;
    font-size: 15px;
    color:black;
}
