

#calltologin{
    text-align: center;
    position: fixed;
    top:8%;
    left:0;
    font-style: inherit;
    font-size: 20px;
    color:black;
}

#calltologin a{
    color:blue;
    font-size: 20px;
    font-style: italic;
}
#calltologin a:hover{
    color:darkblue;
    font-size: 20px;
    font-style: italic;
}

#wel_show{
    text-align: center;
    position: fixed;

    /*background-color: #888888;*/
    top:6px;
    left:1000px;

    font-style: inherit;
    font-size: 12px;
    color:black;
}


#wel_show a{
    color:skyblue;
    font-size: 20px;
    font-style: italic;
}
#wel_show a:hover{
    color:darkblue;
}

.funclist{
    position: absolute;
    /*top:150px;*/
    left:220px;
    float: left;
    width:1200px;
    /*position:fixed;*/
    padding:0;
    /*white-space: nowrap;*/

    top:100px;
}
.upload_img{
    position: fixed;
    top:120px;
    left:10px;
}


.my_gallery{
    position: fixed;
    left:20px;
    top:55px;
}

.my_gallery_start{

    /*font-style: italic;*/
    font-size: 25px;
    color:blue;
}

.funclist ul li{
    float: left;
    background-color:beige;

    height:auto;
    width:264px;


}
.funclist ul li:link:visited
{
    display:block;

    font-weight:inherit;
    font-size: 15px;
    color:black;
    text-align:center;
    padding:2px;
}
.funclist ul li:hover{
    background-color: #bebebe;
    font-size: 17px;
    cursor: pointer;
}


.show_myimg_list{
    position: relative;
    left:160px;
    top:110px;
    float: left;
    /*width: 670px;*/
    padding: 0;
}
.myimglist{
    /*position: relative;*/
    /*top:110px;*/
    /*border-right:4px outset blue;*/
    /*border-top:4px outset blue;*/
    /*border-left:4px outset blue;*/
    /*border-bottom:4px outset blue;*/
    /*border: medium solid #0573bd;*/
    /*border:1px;*/
    /*left:-100px;*/

    /*display: table-cell;*/
    /*margin:0 auto;*/
    width:1110px;
    height:530px;

    margin-bottom: 25px;
    padding: 0px;
    background: #FFFFFF;
    border: 2px solid #D6E6CC;

}
.myimguploadDay{
    /*position: relative;*/
    /*bottom:12px;*/
    /*!*background-color: #bebebe;*!*/
    /*!*width:1200px;*!*/
    /*left:-550px;*/


    height: 30px;
    margin-bottom: 10px;
    padding: 2px 5px 5px 5px;
    background: #D6E6CC;
    border: 1px solid #D6E6CC;
    /*letter-spacing: -.5px;*/
    color: #FFFFFF;

}
.myimgtime_title{
    height: 30px;
    margin-bottom: 3px;
    padding: 5px 0px 2px 5px;
    text-align: left;
    color: #000;

}

.myimgmore{
    float: right;
    margin-top: -35px;
    padding-right: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 18px;
    color: #000;
}
