

.imgAndMetaData{
    position: absolute;
    top:70px;

}
.metaDataMassage{
    position: absolute;
    /*top:70px;*/
    left:900px;
    overflow: auto;
    background-color: beige;
    height:500px;

    width: 340px;
}

.showPrimaryImg{
    position: relative;
    margin:0;
    padding:0;
    left:68px;
    /*top:60px;*/
    width:774px;
    height:500px;
    /*background-color: beige;*/
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.showPrimaryImg img{

    /*padding: 40px 50px 40px 50px;*/
    position: relative;
    margin:auto;
    /*top:50%;*/

    /*left:0;*/
    /*width:90%;*/
    max-width:774px;
    max-height:500px;
    width:auto;
    height:auto;
    z-index: 2;

}


.metaDataTable,.metaDataTable td,.metaDataTable th{
    border:1px ridge blue;
}

.metaDataTable{
    position: relative;

    width:auto;
    border-collapse: collapse;
    /*text-align: center;*/
    background-color: aliceblue;



}

.imgDetail{
    position: relative;
    top:20px;
}